<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
    <Properties>
        <Property name="LOG_FILE">./logger</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <RollingFile name="RollingFile" filename="${LOG_FILE}.json.log" filePattern="${LOG_FILE}.json.%d{yyyy-MM-dd}.gz">
            <PatternLayout>
                <Pattern>
                    {"date":"%date","severity": "%5level","service": "${service_name:-}","trace": "%X{X-B3-TraceId:-}","span": "%X{X-B3-SpanId:-}","parent": "%X{X-B3-ParentSpanId:-}","exportable": "%X{X-Span-Export:-}", "pid": "${PID:-}", "thread": "%thread", "class": "%logger{40}", "rest": "%enc{%m}{JSON}", "throwable" : "%enc{%throwable}{JSON}"}%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 * * * ?"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <RollingFile name="MetricsRollingFile" filename="${LOG_FILE}.metrics.log" filePattern="${LOG_FILE}.metrics.%d{yyyy-MM-dd}.gz">
            <PatternLayout>
                <Pattern>
                    %message%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="0 0 * * * ?"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${env:LOG_LEVEL:-INFO}">
            <AppenderRef ref="RollingFile" level="${env:LOG_LEVEL:-INFO}"/>
            <AppenderRef ref="ConsoleAppender" level="${env:LOG_LEVEL:-INFO}"/>
        </Root>
        <Logger name="com.icb.metrics" level="TRACE">
            <AppenderRef ref="MetricsRollingFile" level="TRACE"/>
        </Logger>
    </Loggers>

</Configuration>
